#footer {
  .container {
    .footer {
      background-color: #1e1e1e;
      color: white;
      display: flex;
      justify-content: center;
      font-size: 15px;
      padding: 90px 0px 50px 0px;
      align-items: center;
      .footer-p {
        color: #337ab7;

        padding: 2px 0px 0px 3px;
      }
    }
  }
}
